{% extends 'student_templates/base.html' %}
{% load static %}
{% load humanize %}

{% block main_content %}
<div class="container mt-3">
  <div class="row mb-2">
    <div class="col-md-6">
      <input id="search-input" type="text" class="form-control" placeholder="Search assignments…" value="{{ query }}">
    </div>
  </div>
  <div id="assignment-area">
    {% include 'student_templates/_assignments_table.html' %}
  </div>
</div>
{% endblock %}

{% block custom_js %}
<script>
$(function() {
  function loadAssignments(params) {
    $.ajax({
      url: "{% url 'student_assignments' %}",
      data: params,
      headers: {'X-Requested-With': 'XMLHttpRequest'},
      success: function(res) {
        $('#assignment-area').html(res.html);
      }
    });
  }

  $('#search-input').on('input', function() {
    loadAssignments({q: $(this).val(), page: 1});
  });

  $(document).on('click', '.page-nav', function(e) {
    e.preventDefault();
    loadAssignments({
      q: $('#search-input').val(),
      page: $(this).data('page')
    });
  });
});
</script>
{% endblock %}
