{% extends 'admin_templates/base.html' %}
 {% load static %}
 {% block dashboard_title %} 
      Edit {{ classes.class_name }}
{% endblock dashboard_title %}
 {% block dashboard_title1 %}edit class{% endblock dashboard_title1 %}
   {% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-8">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                          <h3 class="card-title">Edit Class </h3>
                        </div>
                        <!-- /.card-header -->

                        <!-- form start -->
                        <form role="form" action="{% url 'save_edit_class' %}" method="post">
                          {% csrf_token %}
                        <div class="card-body">
                          <div class="form-group">
                            <label>Class Name: </label>
                            <input type="text" class="form-control" name="class" placeholder="Enter Class (e.g JSS 1)" value="{{ classes.class_name }}">
                            <input type="hidden"  name="class_id"  value="{{ id }}">
                          </div>
                          {% include 'admin_templates/verification_message.html' with user=user %}
        
                        </div>
                        <!-- /.card-body -->
        
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary btn-block">Save Class</button>
                        </div>
                      </form>
                      </div>
                      <!-- /.card -->
                    </div>
                </div>
    </div><!-- /.container-fluid -->
  </section>
  {% endblock main_content %}