{% extends 'admin_templates/base.html' %}
{% load static %}
{% block title %} Admin | Edit Session Year {% endblock %}
{% block dashboard_title %} Edit Term: {{ Session_year.session_name }} {% endblock %}
{% block dashboard_title1 %}edit term{% endblock %}
{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            Edit: {{ Session_year.session_name }}<br>
                            Starts: {{ Session_year.session_start_year }} |
                            Ends: {{ Session_year.session_end_year }}
                        </h3>
                    </div>
                    <form method="post" action="{% url 'save_edit_session_year' %}">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label>Term Name:</label>
                                <input type="text" class="form-control" name="session_name" value="{{ Session_year.session_name }}">
                            </div>
                            <div class="form-group">
                                <label>Term Start:</label>
                                <input type="date" class="form-control" name="session_start" value="{{ Session_year.session_start_year|date:"Y-m-d" }}">
                            </div>
                            <div class="form-group">
                                <label>Term End:</label>
                                <input type="date" class="form-control" name="session_end" value="{{ Session_year.session_end_year|date:"Y-m-d" }}">
                                <input type="hidden" name="session_id" value="{{ Session_year.id }}">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" name="checked" class="form-check-input">
                                <label class="form-check-label">Sure to save</label>
                            </div>
                            {% include 'admin_templates/verification_message.html' with user=user %}
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-block">Save Term</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
