{% extends 'admin_templates/base.html' %}
{% load static %}
{% block dashboard_title %} 
     Edit {{ subject.subject_name }}'s
{% endblock dashboard_title %}
{% block dashboard_title1 %}edit subject{% endblock dashboard_title1 %}
  {% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Subject</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="{% url 'save_edit_subject' %}" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Subject Name: </label>
                    <input type="text" class="form-control" name="subject_name" placeholder="Enter Subject" value="{{ subject.subject_name }}">
                    <input type="hidden" class="form-control" name="subject_id" placeholder="Enter Subject" value="{{ id }}">
                  </div>
                   <div class="form-group">
                    <label>Department: </label>
                    <select class="form-control" name="department">
                        {% for department in departments %}
                              <option value="{{ department.id }}" {% if department.id == subject.department_id.id %} selected {% endif %}>{{ department.department_name }}</option>
                        {% endfor %}
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Class: </label>
                    <select class="form-control" name="class">
                        {% for class in classes %}
                              <option value="{{ class.id }}" {% if class.id == subject.class_id.id %} selected {% endif %}>{{ class.class_name }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Staff</label>
                    <select class="form-control" name="staff">
                        {% for staff in staffs %}
                          <option value="{{ staff.id }}" {% if staff.id == subject.staff_id.id %} selected {% endif %}>{{ staff.first_name }} {{ staff.last_name }}</option>
                        {% endfor %}
                    </select>
                  </div>
                   {% include 'admin_templates/verification_message.html' with user=user %}

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Save Subject</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

