{% extends 'admin_templates/base.html' %}
{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <form method="get" id="searchForm">
          <div class="input-group input-group-sm" style="width: 200px;">
            <input type="text" name="q" class="form-control" placeholder="Search Staffs" value="{{ search_query|default_if_none:'' }}">
            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover table-fixed text-nowrap">
          <thead>
            <tr>
              <th>ID</th><th>First Name</th><th>Last Name</th>
              <th>Username</th><th>Email</th><th>Address</th>
              <th>Date Joined</th><th>Last Login</th><th colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody id="table-body">
            {% include 'admin_templates/includes/staff_table.html' %}
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        {% include 'includes/pagination.html' %}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block custom_js %}
<script>
  $(document).on("click", "#pagination-link", function (e) {
    e.preventDefault();
    let url = $(this).attr("href");
    $.ajax({
      url: url,
      dataType: 'json',
      success: function (data) {
        $("#table-body").html($(data.table_html).html());
        $("#pagination-area").html(data.pagination_html);
      }
    });
  });
</script>
{% endblock %}
