{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="{% static 'assets/images/febmex-logo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">HOD DashBoard</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'assets/images/avatar5.png' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'admin_profile' %}" class="d-block">{{ user.username }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               <li class="nav-item">
                {% url 'admin_home' as admin_home %}
                <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
                  <i class="nav-icon fas fa-home"></i>
                  <p>
                    Home
                  </p>
                </a>
              </li>  
              <li class="nav-item has-treeview">
                <a href="#add-section" class="nav-link">
                  <i class="nav-icon fas fa-plus-square"></i>
                  <p>
                    Add Section
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    {% url 'admin_manage_chatrooms' as admin_manage_chatrooms %}
                    <a href="{{ admin_manage_chatrooms }}" id="add-section" class="nav-link {% if request.path == admin_manage_chatrooms %} active {% endif %}">
                      <i class="nav-icon fas fa-th"></i>
                      <p>
                        Add ChatRoom
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    {% url 'add_staff' as add_staff %}
                    <a href="{{ add_staff }}" id="add-section" class="nav-link {% if request.path == add_staff %} active {% endif %}">
                      <i class="nav-icon fas fa-th"></i>
                      <p>
                        Add Staff
                      </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    {% url 'add_student' as add_student %}
                  <a href="{% url 'add_student' %}" class="nav-link {% if request.path == add_student %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                      Add Student
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  {% url 'add_class' as add_class %}
                  <a href="{% url 'add_class' %}" class="nav-link {% if request.path == add_class %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                      Add Class
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  {% url 'add_department' as add_department %}
                  <a href="{% url 'add_department' %}" class="nav-link {% if request.path == add_department %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                      Add Department
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  {% url 'add_subject' as add_subject %}
                  <a href="{% url 'add_subject' %}" class="nav-link {% if request.path == add_subject %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                      Add Subject
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  {% url 'admin_add_timetable' as admin_add_timetable %}
                  <a href="{% url 'admin_add_timetable' %}" class="nav-link {% if request.path == admin_add_timetable %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                      Add Time Table
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  {% url 'add_session_year' as add_session_year %}
                  <a href="{% url 'add_session_year' %}" class="nav-link {% if request.path == add_session_year %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                      Add Session Year
                    </p>
                  </a>
                </li>
                </ul>
              </li>    
              
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>
                    Manage Section
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    {% url 'manage_staff' as manage_staff %}
                  {% url 'edit_staff' staff_id=id as edit_staff %}
                  <a href="{% url 'manage_staff' %}" class="nav-link {% if request.path == manage_staff %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                      Manage Staff
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                    {% url 'manage_student' as manage_student %}
                    {% url 'edit_student' student_id=id as edit_student %}
                  <a href="{% url 'manage_student' %}" class="nav-link {% if request.path == manage_student %} active {% endif %} {% if request.path == edit_student %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                      Manage Students
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  {% url 'manage_class' as manage_class %}
                    {% url 'edit_class' class_id=id as edit_class %}
                  <a href="{% url 'manage_class' %}" class="nav-link {% if request.path == manage_class %} active {% endif %} {% if request.path == edit_class %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                      Manage Class
                    </p>
                  </a>
                </li>
                
                <li class="nav-item">
                  {% url 'manage_department' as manage_department %}
                    {% url 'edit_department' department_id=id as edit_department %}
                  <a href="{% url 'manage_department' %}" class="nav-link {% if request.path == manage_department %} active {% endif %} {% if request.path == edit_department %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                      Manage Department
                    </p>
                  </a>
                </li>
                
                <li class="nav-item">
                  {% url 'manage_subject' as manage_subject %}
                  {% url 'edit_subject' subject_id=id as edit_subject %}
                  <a href="{% url 'manage_subject' %}" class="nav-link {% if request.path == manage_subject %} active {% endif %} {% if request.path == edit_subject %} active {% endif %} ">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                      Manage Subject
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  {% url 'admin_timetable_list' as admin_timetable_list %}
                  {% url 'edit_subject' subject_id=id as edit_subject %}
                  <a href="{% url 'admin_timetable_list' %}" class="nav-link {% if request.path == admin_timetable_list %} active {% endif %} {% if request.path == edit_subject %} active {% endif %} ">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                      Manage Time Table
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  {% url 'manage_session_year' as manage_session_year %}
                  <a href="{% url 'manage_session_year' %}" class="nav-link {% if request.path == manage_session_year %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                      Manage Session Year
                    </p>
                  </a>
                </li>
                </ul>
              </li>

          <li class="nav-item">
            {% url 'admin_create_event' as admin_create_event %}
           <a href="{% url 'admin_create_event' %}" class="nav-link {% if request.path == admin_create_event %} active {% endif %}">
             <i class="nav-icon fas fa-calendar-alt"></i>
             <p>
              Academic Event
             </p>
           </a>
         </li>
              
           
          <li class="nav-item">
            {% url 'student_feedback_list' as student_feedback_list %}
           <a href="{% url 'student_feedback_list' %}" class="nav-link {% if request.path == student_feedback_list %} active {% endif %}">
             <i class="nav-icon fas fa-comment"></i>
             <p>
               Student Feedback
             </p>
           </a>
         </li>
          <li class="nav-item">
              {% url 'staff_feedback_list' as staff_feedback_list %}
           <a href="{% url 'staff_feedback_list' %}" class="nav-link {% if request.path == staff_feedback_list %} active {% endif %}">
             <i class="nav-icon fas fa-comment"></i>
             <p>
               Staff Feedback
             </p>
           </a>
         </li>
          <li class="nav-item">
              {% url 'student_leave_view' as student_leave_view %}
           <a href="{% url 'student_leave_view' %}" class="nav-link {% if request.path == student_leave_view %} active {% endif %}">
             <i class="nav-icon fas fa-walking"></i>
             <p>
               Student Leave
             </p>
           </a>
         </li>
           <li class="nav-item">
                {% url 'staff_leave_view' as staff_leave_view %}
           <a href="{% url 'staff_leave_view' %}" class="nav-link {% if request.path == staff_leave_view %} active {% endif %}">
             <i class="nav-icon fas fa-walking"></i>
             <p>
               Staff Leave
             </p>
           </a>
         </li>
         <li class="nav-item">
          {% url 'admin_view_attendance' as admin_view_attendance %}
           <a href="{% url 'admin_view_attendance' %}" class="nav-link {% if request.path == admin_view_attendance %} active {% endif %}">
            <i class="nav-icon fas fa-bullseye"></i>
            <p>
              View Attendance
            </p>
          </a>
        </li>
        <li class="nav-item">
          {% url 'admin_view_results' as admin_view_results %}
           <a href="{% url 'admin_view_results' %}" class="nav-link {% if request.path == admin_view_results %} active {% endif %}">
            <i class="nav-icon fas fa-bullseye"></i>
            <p>
              View Results
            </p>
          </a>
        </li>
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>
                Logout
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

