{% if messages %}
                                {% for message in messages %}
                                   {% if message.tags == 'error' %}
                          <div class="card card-danger">
                            <div class="card-header">
                              <h3 class="card-title" style="margin-top:10px">{{ message }}</h3>
                               <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                              </div>
                            </div>
                          </div>
                                   {% endif %}

                                {% if message.tags == 'success' %}
                          <div class="card card-success">
                              <div class="card-header">
                                <h3 class="card-title" style="margin-top:10px">{{ message }}</h3>
                                 <div class="card-tools">
                                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                                </div>
                              </div>
                            </div>
                                  {% endif %}
                                {% endfor %}
                              {% endif %}
        