{% extends 'jobs/base.html' %}
{% load static %}
{% block title %}Febmex about page.{% endblock %}
{% block meta_keywords %}about Febmex International Group of Schools.{% endblock %}
{% block meta_description %}with Outstanding teachers, and committed support staff are engagaged to actualize standout students and leaders for the country.{% endblock %}

{% block content %}
<section id="about" class="about-sec section-wrapper description">
    <div class="container">
        <div class="row">
            <!-- Section Header -->
            <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <br>
                <h2><span class="highlight-text">About </span></h2>
               
                <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                    Febmex International Group of Schools is conceived to provide sound International education
                    in an atmosphere of strong moral upbringing for young Nigerians. The focus is not only to enhance their psychomotor and effect attainments but to prepare them for self-reliance.
                    Our philosophy of strong moral upbringing with religious values continue to be an essential aspect of our cardinal guild. with Outstanding teachers, and committed support staff 
                    are engagaged to actualize standout students and leaders for the country.
                </p>
            </div>
            <!-- Section Header End -->
            
            <div class="col-md-6 col-sm-6 col-xs-12 custom-sec-img wow fadeInDown">
                <img src=" {% static 'assets/images/features.jpg' %}" alt="Custom Image">
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 customized-text wow fadeInDown black-ed">
            <p>
                The school has well equiped Laboratories, I.C.T Centre, Basic Technology Workshop, Creative Art Studio, Music training, Language Class as well as good sporting facilities.
            </p>
                <div class="row"> 
                    <div class="col-md-11">
                        <strong>Vission:</strong>
                        <p>To be recognised among the best schools in the world, with quality education and moral upbringing.</p>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-md-11">
                        <strong>Mission:</strong>
                        <p>Developing bright leaders for the Nation.</p>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-md-11">
                        <strong>Motto:</strong>
                        <p>Academic excellence and discipline.</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section> 
{% endblock %}