{% extends 'jobs/base.html' %}
{% load static %}
{% block title %}febmex school educational structure.{% endblock %}
{% block meta_keywords %}febmex school academics science commerce.{% endblock %}
{% block meta_description %}Our Students are occupied in participatory education and are given top skills in enhancing them to become the best among their mates..{% endblock %}

{% block content %}
<section id="pricing" class="pricing-section">
    <div class="container">
        <div class="row">

            <!-- Section Header -->
            <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                <br>
                <h2><span class="highlight-text">ACADEMICS</span></h2>

                <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                    Febmex International group of Schools provides quality education in the atmosphere of strong excellence. Our Students are occupied in participatory education and are given top skills in enhancing them to become the best among their mates.
                </p>
            </div>
            <!-- Section Header End -->

            <div class="pricing-wrapper">

                <!-- Plans -->
                <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow bounceInLeft hoverer">
                    <div class="pricing-titles">
                        <h2>SCIENCE DEPARTMENT</h2>
                    </div>
                    <div class="pricing-service-name">
                        <ul>
                            <li>Chemistry</li>
                            <li>Physics</li>
                             <li>Further Mathematics</li>
                             <li>General Mathematics</li>
                             <li>Biology</li>
                            <li>Basic Science</li>
                        </ul>
                    </div>

                </div>
                <!-- Plans End -->

                <!-- Plans -->
                <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow fadeInUp hoverer" data-wow-duration="1s">
                    <div class="pricing-titles">
                        <h2>COMMERCIAL / SOCIAL DEPARTMENT</h2>
                    </div>
                    <div class="pricing-service-name">
                        <ul>
                           <li>Economics</li>
                            <li>Business Studies</li>
                            <li>Government</li>
                            <li>Social Studies</li>
                            <li>Geography</li>
                            <li>Commerce</li>
                        </ul>
                    </div>

                </div>
                <!-- Plans End -->

                <!-- Plans -->
                <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow bounceInRight hoverer">
                    <div class="pricing-titles">
                        <h2>ART / HUMANITIES DEPARTMENT</h2>
                    </div>
                    <div class="pricing-service-name">
                         <ul>
                            <li>Religious Study</li>
                            <li>English Language</li>
                            <li>French Lanaguage</li>
                            <li>Literature in English</li>
                            <li>Yoruba Language</li>
                             <li>Igbo Language</li>
                        </ul>
                    </div>


                </div>
                <!-- Plans End -->

            </div>
        </div>
    </div>
</section>
<!-- Pricing End -->
{% endblock %}
