{% extends 'jobs/base.html' %}
{% load static %}
{% block title%}Febmex international school classes.{% endblock %}
{% block meta_description %}Our Students are occupied in participatory education and are given top skills in enhancing them to become the best among their mates..{% endblock %}

{% block content %}

<section id="services" class="section-wrapper">
    <div class="container">
        <div class="row">

            <!-- Section Header -->
            <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                <br>
                <h2><span class="highlight-text">AVAILABLE CLASSES</span></h2>
               
                <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                </p>
            </div>
            <!-- Section Header End -->

            <div class="our-services">
         
               
     <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".2s">
                    <div class="service-box">
                    <img src="{% static 'assets/images/img01.jpg' %}" alt="Custom Image">
                        <div class="icon">
                            <i class="icon_cone"></i> <h3>Creche / Kindergarten</h3>
                        </div> 
                        <a href="{% url 'contact' %}" class="btn">Apply Now</a>
                        </div> 
</div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".2s">
                    <div class="service-box">
                    <img src="{% static 'assets/images/img02.jpg' %}" alt="Custom Image">
                        <div class="icon">
                            <i class="icon_mug"></i><h3>Nursery </h3>
                        </div>
                        <a href="{% url 'contact' %}" class="btn">Apply Now</a>
                    </div>
</div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".2s">
                    <div class="service-box">
                    <img src="{% static 'assets/images/img3.jpg' %}" alt="Custom Image">
                        <div class="icon">
                            <i class="icon_currency"></i><h3>Primary </h3>
                        </div>
                        <a href="{% url 'contact' %}" class="btn">Apply Now</a>
                    </div>
</div>
                 
                </div> 
                <div class="row">
                 
                    <div class="col-md-4 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".1s">
                    <div class="service-box">
                    <img src="{% static 'assets/images/img04.jpg' %}" alt="Custom Image">
                        <div class="icon">
                            <i class="icon_star-half_alt"></i><h3>Secondary</h3>
                        </div>
                        <a href="{% url 'contact' %}" class="btn">Apply Now</a>
                    </div>
</div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".1s">
                    <div class="service-box">
                    <img src="{% static 'assets/images/img05.jpg' %}" alt="Custom Image">
                        <div class="icon">
                            <i class="icon_music"></i><h3>Computer Training</h3>
                        </div>
                        <a href="{% url 'contact' %}" class="btn">Apply Now</a>
                    </div>
</div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".1s">
                    <div class="service-box">
                    <img src="{% static 'assets/images/img06.jpg' %}" alt="Custom Image">
                        <div class="icon">
                            <i class="icon_cog"></i><h3>Games</h3>
                        </div>
                        <a href="{% url 'contact' %}" class="btn">Apply Now</a>
                    </div>
</div>
                </div>
            </div> 

        </div>
    </div>
</section> 
{% endblock %}